<form class="row g-3" action="/lookup" method="GET">

  <div class="col-6">
    <label>
      Username
    </label>
    <input name="username" type="text" class="form-control"/>
  </div>

  <div class="col-6">
    <label>
      Timestamp
    </label>
    <input name="timestamp" type="text" class="form-control"/>
  </div>

  <div class="col-6">
    <input value="Submit" type="submit" class="btn btn-primary"/>
  </div>
  
</form>
