<div class="mt-3 mb-2">
  <p>
    The app helps you relive your Twitch bit donations.
  </p>
</div>

<form class="row g-3" action="/lookup" method="GET">

  <div class="col-6">
    <label>
      Username
    </label>
    <input name="username" type="text" class="form-control"/>
  </div>

  <div class="col-6">
    <label>
      Timestamp
    </label>
    <input name="timestamp" type="text" class="form-control"/>
  </div>

  <div class="col-6">
    <input value="Submit" type="submit" class="btn btn-primary"/>
  </div>  
</form>

<div class="mt-2">
  <p>
    Grab a timestamp from your Bit donation history page on twitch
    (e.g. "1:30 PM PDT Apr 11, 2023"). Paste it here. Paste the username
    of who you donated to, too. This will look at all VODs of that Twitch
    user, find a VOD that covers your given timestamp, and return a timestamped-link to that VOD.
    This way, you can relive your donation.
  </p>

  <p>
    You can also choose to make a clip
    of it if you're particularly attached to the moment you created (this app
    won't help with that part).    
  </p>

</div>
